<div class="main app">
	<div class="cube">
		<figure class="view slave right"></figure>
		<figure class="view slave left"></figure>
		<figure class="view top"></figure>
		<figure class="view slave bottom"></figure>
	</div>
</div>