

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/main.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="js/all.js"></script>
	</head>

	<body>
		<div class="app">
		</div>
	</body>
</html>