<!-- <div class="index-btn">
	<div id="live-btn" href="/live">
		<div id="live-text">Watch Live</div>
	</div>	
	<div id="previous-btn" href="/previous">
		<div id="previous-text">Watch Previous</div>
	</div>
</div>	 -->

<div class="main-content">
<div class="container">
	<div class="row">
		<div class="col-xs-5 col-xs-offset-7">
			<img id="logo" class="img-responsive" src="img/Logo.png">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-7">

			<img id="live-launch" class="img-responsive button-row" src="img/LiveLaunch.png">
			<span id="time">05M 00S</span>

			<img id="past-launches" class="img-responsive button-row" src="img/pastlaunches.png">
			<img id="antares-desc" class="img-responsive button-row" src="img/AntaresDesc.png">
		</div>
		<div class="col-xs-4">
			<img id="rocket" class="img-responsive" src="img/rocket.png">
		</div>
	</div>
	</div>
</div>