<div class="main-content-list">
	<div class="container">
		<div class="row">
			<div class="col-xs-5">
				<img id="past-launches-text" class="img-responsive" src="img/pastlaunchestext.png">
			</div>
			<div class="col-xs-5 col-xs-offset-2">
				<img id="logo" class="img-responsive" src="img/Logo.png">
			</div>
		</div>

		<div class="row" id="past-launches-list">
			<div class="col-xs-12">
				<img class="img-responsive" src="img/pastlauncheslist.png">
			</div>
		</div>
	</div>
</div>