* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#live {
	flex: 1 0 auto;
	background-color: red;
	height: 50%;
}

#previous {
	flex: 1 0 auto;
	background-color: orange;
}

h1 {
	display: fixed;
}